:root {
    --color: #212121;
    --main-color: #2F303A;
    --brand-color: #2196F3;
    --color-text: #757575;
    --color-button: #F5F4FA;
}


body {
    background-color: #fff;
    color: var(--color);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* section-header */
.page-header {
    background-color: #fff;
    color: var(--color);
}

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

.span-logo {
    color: var(--brand-color);
}

.site-nav {
    color: var(--color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.link {
    color: var(--color);
    text-decoration: none;
    width: 45px;
    height: 16px;
}

.link:hover {
    color: var(--brand-color);
}

.link:focus {
    color: var(--brand-color);
}

.link-contacts {
    color: var(--color-text);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.link-contacts:hover {
    color: var(--brand-color);
}

.link-contacts:focus {
    color: var(--brand-color);
}

/* section-main*/
.begining-section {
    background-color: var(--main-color);
}

.begining-section-title {
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
}

.primary-button {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    background-color: var(--brand-color);
    cursor: pointer;
}

.advantages-section {
    color: var(--color-text);
}

.advantages-section-title {}

.advantages-title {
    color: var(--color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.work-section {}

.work-section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-section {
    background-color: #F5F4FA;
}

.team-section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.description {
    color: #757575;
    font-size: 16px;
    line-height: 1.1px;
}

/* footer-section */
.footer-section {
    background-color: var(--main-color);
}

.logo-footer {
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

.address {
    color: #fff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* portfolio-section */

.button {
    color: var(--color);
    background-color: var(--color-button);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    cursor: pointer;
}

.button:hover {
    background-color: var(--brand-color);
    color: #fff;
}

.button:focus {
    background-color: var(--brand-color);
    color: #fff;
}

.section-cards {
    text-decoration: none;
}

.link-cards {
    text-decoration: none;
    color: var(--color-text);
}

.section-cards-title {
    color: var(--color);
}